body {
	margin: 0;
	background: #222;
	font-weight: 400;
	color: white;
}

header {
	background: #b4b8ab;
}

header::after {
	content: '';
	display: table;
	clear: both;
}
	
.inplace {
	float: left;
}

h1 {
	color: black;
	margin-left: 15px;
}

nav {
	float: right;
}

nav li {
	display: inline-block;
	margin-top: 10px;
}

nav a {
	color: black;
	text-decoration: none;
	font-size: 16px;
	padding: 1em;
}

nav a:hover {
	background: #b4b8ab;
	filter: brightness(85%);
}

.info {
	float: left;
	text-align: justify;
	width: 50%;
	margin-left: 150px;
}

.info a {
	color: white;
}

.info a:hover {
	color: grey;
}

.contact li{
	list-style: none;
	margin-bottom: 20px;
}

button {
	background-color: #b4b8ab;
	border-radius: 10px;
	padding: 10px 50px;
	font-size: 16px;
}

button:hover {
	background-color: #b4b8ab;
	filter: brightness(65%);
}

.story_ {
	margin-left: 30%;
	margin-right: 30%;
	text-align: justify;
	
}

.story_:after {
	content: '';
	display: table;
	clear: both;
}

aside {
  text-align: left;
  color: black;
  width: 20%;
  padding: 15px;
  margin: 80px;
  float: right;
  font-style: italic;
  background-color: #a26769;
}


img {
	max-height: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right:auto;
	display:block;
}

.btn_five button {
	width: 40%;
	margin: 20px;
}

.btn_five {
	display: inline-block;
	justify-content: space-around;
	text-align: center;
}

.btn_two button {
	width: 40%;
	margin: 20px;
}

.btn_two {
	text-align: center;
	margin: 15px;
}

i {
	font-size: 18px;
}

.game_input {
	padding:10px;
	font-size: 17px;
	border:none;
	width:30%;
}

section p{
	color: black;
	font-weight: bold;
	background-color: #b4b8ab;
	border-radius: 10px;
	padding: 10px;
	font-size: 16px;
	width: 40%;
	margin: 20px;
	margin-left: 0px;
	display: inline-block;
	justify-content: space-around;

}

@media only screen and (max-width: 1150px) {
	.story_ {
	margin-left: 10%;
	margin-right: 10%;
	text-align: justify; }
	.info {
	float: left;
	width: 50%;
	margin-left: 50px; }
	aside {
	width: 15%;
	padding: 15px;
	margin: 50px; }
}